@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --first-color: #003459;
    --second-color: #6CA6C1;
    --third-color: #DDFBD2;
    
    --font-color: #444444;
  
    --first-font-family: 'Montserrat', sans-serif;
    --second-font-family: 'Urbanist', sans-serif;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
  color: var(--font-color);
}

h2 {
  font-family: var(--first-font-family);
  color: var(--first-color);
  margin-bottom: 2rem;
}

h5 {
  font-family: var(--first-font-family);
  font-size: 1rem;
  color: var(--font-color);
}

.container {
  margin: 8rem auto;
}



/* --------- HEADER --------- */
  header { /*Barra de navegación*/
    position: fixed;
    top: 0;
    width: 65%;
    height: 80px;
    transition: 0.6s;
    padding: 20px 120px;
    z-index: 10000;
    background-color: #fff;
  }

  .burger-button,
  .close-button {
    display: none;
  }
  
  header.sticky { /*Barra de navegación al hacer scroll*/
    padding: 20px 120px;
    background: var(--first-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  header.sticky ul li a { /*Color items barra de navegación al hacer scroll*/
    color: #fff;
  }

  .line {
    display: none;
  }

  .header-list { /*Items de navegación*/
    display: flex;
    align-items: center; 
    list-style: none;
    padding-top: 0.6rem;
  }
  

  .header-list li a { /*Color de los items de navegación*/
    color: #000;
    font-family: var(--first-font-family);
    display: flex;
    text-decoration: none;
    font-size: 1rem;
  }
  

  .header-list li a:hover { /*Color de los items hover de navegación*/
    font-weight: bold;
  }
  

  .header-list a.active { /*Color del item activo de navegación*/
    font-weight: bold;
  }
  
  
  .items { /*Distancia entre items e iconos*/
    display: flex;
    gap: 2rem;
  }




  /* --------- CAROUSEL --------- */
.container-hero {
  width: 100%;
  display: flex;
  height: 100vh;
}

.container-white {
  background-color: #fff;
  width: 65%;
}

.container-img {
  background: linear-gradient(to bottom, rgba(0, 0, 50, 0.7) 0%, rgba(0, 0, 50, 0.7) 100%), url("../assets/img-hero.jpg");
  background-size: cover;
  width: 35%;
}

  /*
 .carousel-item.img-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 50, 0.7) 0%, rgba(0, 0, 50, 0.7) 100%), url("../assets/imagen1.jpg");
  width: 70%;
  height: 100vh;
  background-size: cover;
 }

 .carousel-item.img-2 {
  background: linear-gradient(to bottom, rgba(0, 0, 50, 0.7) 0%, rgba(0, 0, 50, 0.7) 100%), url("../assets/imagen2.jpg");
  width: 70%;
  height: 100vh;
  background-size: cover;
 }

 .carousel-item.img-3 {
  background: linear-gradient(to bottom, rgba(0, 0, 50, 0.7) 0%, rgba(0, 0, 50, 0.7) 100%), url("../assets/imagen3.jpg");
  width: 70%;
  height: 100vh;
  background-size: cover;
 }
*/

 .description {
  position: absolute;
  z-index: 1000;
  top: 250px;
  left: 140px;
  color: var(--font-color);
  font-family: var(--first-font-family);
 }
 
 .description-mobile {
  display: none;
 }

 .description p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--first-color);
  font-weight: bold;
 }

 h1 {
  margin-top: 0;
  margin-bottom: 2rem;
 }

 .btn-hero {
  background-color: var(--first-color);
  width: 10rem;
  color: #fff;
 }



    /* --------- ABOUT --------- */
    



   /* --------- SERVICES --------- */
   .description-services {
   }

     .service-card {
    width: 15rem;
    margin: 0 1rem;
    border: 1px solid #fff;
    text-align: start;
  }

  .img-service-1 {
    background-image: url(../assets/terapia-manual.jpg);
    width: 240px;
    height: 150px;
    background-size: cover;
  }

  .img-service-2 {
    background-image: url(../assets/magnetoterapia.jpg);
    width: 240px;
    height: 150px;
    background-size: cover;
  }

  .img-service-3 {
    background-image: url(../assets/puncion-seca.jpg);
    width: 240px;
    height: 150px;
    background-size: cover;
  }

  .img-service-4 {
    background-image: url(../assets/kinesio-deportiva.jpg);
    width: 240px;
    height: 150px;
    background-size: cover;
  }

  .service-card h5 {
    margin-top: 1.5rem;
  }

  .card-text {
    color: var(--font-color);
    margin-bottom: 1.5rem;
  }

  .btn-service {
    color: #fff;
    text-decoration: none;
    background-color: var(--second-color);
    padding: 0.4rem 1rem;
    border-radius: 4px;
  }

  .btn-service:hover {
    background-color: var(--first-color);
    color: #fff;
  }

  .card-title {
    font-weight: bold;
  }

  

  



  /* --------- ASK FOR TURN --------- */
  .container-fluid.ask-for-turn {
    background-color: var(--second-color);
  }


  .ask-for-turn a {
    width: 8rem;
    margin-left: 12px;
    margin-top: 2rem;
    color: #6CA6C1;

  }







  /* --------- ABOUT --------- */
  .container-about {
    display: flex;
    height: auto;
  }

  .about-img {
    width: 50%;
    height: 500px;
    background-image: url(../assets/imagen1.jpg);
    background-size: cover;
  }

  .about-info {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
  }

  .container-info {
    width: 75%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  


 

  /* --------- CONTACT --------- */
 .container-contact {
  width: 60%;
  display: flex;
  margin: 8rem auto;
  align-items: center;
  justify-content: center;
 }

 .info-contact {
  display: flex;
  flex-direction: column;
  width: 40%;
 }

 .info-contact i {
  color: var(--first-color);
 }

 .info-contact i a {
  text-decoration: none;
  color: var(--font-color);
 }

 .map {
  width: 60%;
  text-align: center;
 }
 
 


  
  
  
  
  
  
  
  
       
  .contact-form {
    width: 100%;
  }
  
  
  .input-form, textarea {
    display: block;
    width: 100%;
    padding: 0.2rem;
    border-radius: 3px;
  }
  
  
  .input-form {
    height: 2.2rem;
  }
  
  
  label {
    margin-bottom: 0.5rem;
  }
  
  
  .contact-form-response {
    font-weight: bold;
  }
  
    
  .contact-form [required]:valid {
    border: 2px solid var(--first-color);
  }
  
   
  .contact-form [required]:invalid {
    border: 1px solid gray;
  }
  
  
  .contact-form-error {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    transition: all 800ms ease;
  }
  
       
  .contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
  }
   
  
  .none {
    display: none;
  }
  
  
  .btn-contact {
    margin-top: 1rem;
  }
  
  
  @keyframes show-message {
    0% {
      visibility: hidden;
      opacity: 0;
    }
  
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  
  
  .email-bold {
    font-weight: bold;
  }
  


    /* --------- CONTACT --------- */
.container-fluid {
  background-color: var(--first-color);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid p {
  color: #fff;
}


/* --------- FOOTER --------- */
.icons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.icons a i {
  color: #fff;
}

.links a {
  text-decoration: none;
}


/* --------- MODAL --------- */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.modal--show { /*Ventana modal cuando se muestra*/
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
}

.modal-container { 
  margin: auto;
  width: 90%;
  height: 75vh;
  background-color: #fff;
  max-width: 600px;
  max-height: 90%;
  border-radius: 6px;
  margin-top: 8rem;
  padding: 30px;
  display: grid;
  place-items: center;
  grid-auto-columns: 100%;
  position: relative;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-paragraph {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}


.modal-close { /*X*/
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--first-color);
}
 













@media (max-width: 768px) {
    /* HEADER */
    /* BOTON HAMBURGUESA */
  header {
    background-color: transparent;
    width: 100%;
  }

    .menu-toggle .burger-button {
      font-size: 2rem;
    }

    .burger-button {
      display: block;
    }

    .close-button {
      display: none;
  }

  .close-button.active {
    color: var(--first-color);
    display: block;
    font-size: 1.8rem;
    position: absolute;
    top: 0;
  }

  
  
    

    /* Muestra el botón hamburguesa */
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1000;
        cursor: pointer;
        color: var(--first-color);
    }
  
    #menu .items {
      display: flex;
      position: absolute;
      flex-direction: column;
      list-style: none;
      padding: 0; 
      top: 0;
      left: 0;
      display: none;
      background-color: #fff;
      width: 100%;
      height: 380px;
      padding-top: 70px;
      padding-left: 30px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-list .items li a {
    color: var(--font-first-color);
    padding-top: 20px;
  }
  
  .header-list .items li a:hover {
    color: var(--first-color);
  }
  
  .header-list .items li a.active {
    color: var(--first-color);
  }
  
  .menu-open .header-list {
    display: block;
  }
  
  .header-list .icons {
    display: none;
  }

  .line {
    display: flex;
    width: 90%;
    height: 1px;
    background-color: var(--second-color);
    margin-top: 1rem;
  }



  /* HERO */
  .container-white {
    display: none;
  }

  .container-img {
    width: 100%;
  }

  .description-mobile {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 250px;
    left: 40%;
    transform: translateX(-50%); /* Centra horizontalmente utilizando transform */
    color: #fff;
    font-family: var(--first-font-family);
   }

   .description-mobile p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
   }

   .description-mobile h1 {
    font-size: 1.3rem;
   }

   .btn-hero {
    background-color: #fff;
    color: var(--first-color);
   }

   .btn-hero:hover {
    background-color: var(--first-color);
    color: #fff;
   }




     /* SERVICES */
     .cards {
      gap: 3rem;
    }

    
  /* --------- ABOUT --------- */
.container-about {
  display: flex;
  flex-direction: column;
}

.about-img {
  width: 100%;
  margin-bottom: 5rem;
}

.about-info {
  width: 100%;
  margin-bottom: 4rem;
}

.container-info {
  padding-top: 8rem;
}


  /* --------- CONTACT --------- */
  .container-contact {
    flex-direction: column;
    margin: 8rem auto;
    width: 100%;
  }

  .info-contact {
    width: 80%;
  }

  .map {
    width: 100%;
  }

  iframe {
    height: 10rem;
  }



     /* MODAL */

     .modal-container {
      overflow: auto;
     }

.modal-img {
  width: 80%;
}

.modal-title {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.modal-paragraph {
  font-size: 0.8rem;
}

.see-project {
  font-size: 0.7rem;
}


  /* --------- FOOTER --------- */
  .copy {
    width: 80%;
    margin: 0 auto;
  }

  .footer-mm p {
    font-size: 0.8rem;
  }

  .footer-mm h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .links h4,
  .links a,
  .services h4,
  .services p,
  .contacts h4,
  .contacts p {
    display: none;
  }

  .services {
    display: none;
  }


}  